<% content_for :modal_title do %>
  <%= t('fill_order') %>
<% end %>

<% content_for :modal_content do %>
  <div class="">
    <%= t('are_you_sure_to_fill_order') %>
  </div>
  <%= render 'tasks/form', type: 'FillOrderTask', collection_id: @item.collection_id, identifier: @item.identifier, order_id: params[:order_id] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
