<% content_for :modal_title do %>
  <%= t('deposit_nft') %>
<% end %>

<% content_for :modal_content do %>
  <div class="">
    <%= t('are_you_sure_to_deposit_this_nft') %>
  </div>
  <%= render 'tasks/form', type: 'DepositTask', collection_id: @item.collection_id, identifier: @item.identifier %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
