<% content_for :modal_title do %>
  <%= t('fill_order') %>
<% end %>

<% content_for :modal_content do %>
  <div class="">
    <%= t('are_you_sure_to_fill_order') %>
  </div>
  <%= render 'tasks/form', type: 'FillOrderTask', collection_id: params[:collection_id], identifiers: params[:identifiers], order_id: params[:order_id] %>
<% end %>

<%=s turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
