<tr id="<%= dom_id task %>">
  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <% if task.item.present? %>
      <%= link_to collection_tasks_path(task.collection, identifier: task.item.identifier, type: params[:type], state: params[:state], ), class: "flex items-center space-x-2" do %>
        <%= image_tag task.item.icon_url, class: "w-12 h-12 block" %>
        <div>
          <div class="">
            #<%= task.item.identifier %>
          </div>
          <div class="text-sm opacity-70">
            <%= task.item.name %>
          </div>
        </div>
      <% end %>
    <% else %>
      -
    <% end %>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <%= task.type %>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="flex items-center space-x-2">
      <div class="w-2 h-2 rounded-full
        <%= {
          pending: 'bg-blue-500',
          failed: 'bg-red-500',
          cancelled: 'bg-gray-500',
          finished: 'bg-green-500'
        }[task.state.to_sym] %>"></div>
      <div><%= task.state %></div>
    </div>
  </td>
 
  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <%= task.processed_at || '-' %>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="flex items-center justify-center space-x-2">
      <%= link_to 'Detail', collection_task_path(task.collection, task) %>
      <%= button_to 'Cancel', collection_task_cancel_path(task.collection, task), class: "", data: { turbo_confirm: "Are you sure to cancel this task?" } if task.pending? %>
    </div>
  </td>
</tr>
