<%= render "collections/header", collection: @collection %>
<%= render "collections/tabbar", collection: @collection, tab: 'tasks' %>

<div class="mb-4">
  <%= render "collections/tasks/query" %>
</div>

<div class="">
  <% if @tasks.blank? %>
    <div class="p-4 text-center opacity-70">- No records -</div>
  <% else %>
    <table class="mb-4 border-collapse w-full border border-slate-400 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm shadow-sm">
      <thead class="bg-slate-50 dark:bg-slate-700">
        <tr>
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">
            Item
          </th>
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">
            Type
          </th>
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">
            State
          </th>
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">
            Processed At
          </th>
          <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "collections/tasks/task", collection: @tasks %>
      </tbody>
    </table>
    <div class="flex items-center justify-center">
      <%= link_to '<- Prev', collection_tasks_path(@collection&.id, type: params[:type], state: params[:state], page: @pagy.prev) if @pagy.prev.present? %>
      <%= link_to 'Next ->', collection_tasks_path(@collection&.id, type: params[:type], state: params[:state], page: @pagy.next) if @pagy.next.present? %>
    </div>
  <% end %>
</div>
