<div class="flex items-center mb-6 space-x-4">
  <%= link_to 'Tasks', admin_tasks_path(collection_id: @task&.collection_id), class: 'underline' %>
  <div class="">/</div>
  <div><%= @task.id %></div>
</div>

<div class="grid grid-cols-2 gap-6">
  <div class="flex items-center space-x-2">
    <div class="font-bold">
      Item:
    </div>
    <div class="">
      <% if @task.item.present? %>
        <%= link_to tasks_path(collection_id: @task.collection_id, metahash: @task.item.metahash, type: params[:type], state: params[:state], ), class: "flex items-center space-x-2" do %>
          <%= image_tag @task.item.icon_url, class: "w-12 h-12 block" %>
          <div>
            <div class="">
              #<%= @task.item.identifier %>
            </div>
            <div class="text-sm opacity-70">
              <%= @task.item.name %>
            </div>
          </div>
        <% end %>
      <% else %>
        -
      <% end %>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <div class="font-bold">
      Type:
    </div>
    <div class="">
      <%= @task.type %>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <div class="font-bold">
      State:
    </div>
    <div class="">
      <div class="flex items-center space-x-2">
        <div class="w-2 h-2 rounded-full
          <%= {
            pending: 'bg-blue-500',
            failed: 'bg-red-500',
            expired: 'bg-gray-500',
            finished: 'bg-green-500'
          }[@task.state.to_sym] %>"></div>
        <div><%= @task.state %></div>
      </div>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <div class="font-bold">
      Processed At:
    </div>
    <div class="">
      <%= @task.processed_at || '-' %>
    </div>
  </div>

  <div class="flex items-start space-x-2 col-span-2">
    <div class="font-bold">
      Params:
    </div>
    <div class="w-full">
      <pre>
        <code data-controller="pretty-json" 
              data-pretty-json-json-value="<%= @task.params.to_json %>"
              data-pretty-json-target="content"
              class="hljs language-json">
      <%= @task.params || '-' %>
        </code>
      </pre>
    </div>
  </div>

  <div class="flex items-start space-x-2 col-span-2">
    <div class="font-bold">
      Result:
    </div>
    <div class="w-full">
      <pre>
        <code data-controller="pretty-json" 
              data-pretty-json-json-value="<%= @task.result.to_json %>"
              data-pretty-json-target="content"
              class="hljs language-json">
      <%= @task.result || '-' %>
        </code>
      </pre>
    </div>
  </div>
</div>
