<div class="shadow flex mb-4">
  <div class="mx-auto max-w-7xl w-full flex">
    <%= link_to root_path, class: "flex items-center space-x-2 mr-6" do %>
      <%= image_tag "logo.png", class: 'block w-10 h-10 my-2 mx-1' %>
      <div class="text-xl text-transparent bg-clip-text bg-gradient-to-r from-[#0952DE] to-[#8CFFFF] font-black">
        Trident Assistant
      </div>
    <% end %>
    <%= link_to 'Collections', collections_path, class: "block font-bold p-4 hover:bg-blue-500 hover:text-white #{@nav_tab == 'collections' ? 'border-b-2 border-blue-500' : ''}" %>
    <%= link_to 'Items', items_path(collection_id: params[:collection_id]), class: "block font-bold p-4 hover:bg-blue-500 hover:text-white #{@nav_tab == 'items' ? 'border-b-2 border-blue-500' : ''}" %>

    <%= link_to 'Orders', orders_path(collection_id: params[:collection_id]), class: "block font-bold p-4 hover:bg-blue-500 hover:text-white #{@nav_tab == 'orders' ? 'border-b-2 border-blue-500' : ''}" %>

    <%= link_to 'Tasks', tasks_path(collection_id: params[:collection_id]), class: "block font-bold p-4 hover:bg-blue-500 hover:text-white #{@nav_tab == 'tasks' ? 'border-b-2 border-blue-500' : ''}" %>

    <%= link_to 'Wallet', wallet_path, class: "block font-bold p-4 hover:bg-blue-500 hover:text-white #{@nav_tab == 'wallet' ? 'border-b-2 border-blue-500' : ''}" %>
    <%= link_to 'Logout', logout_path, class: "ml-auto block font-bold p-4 hover:bg-blue-500 hover:text-white" %>
  </div>
</div>
