<%= form_for [task.collection, task] do |form| %>
  <%= form.hidden_field :type, value: 'MintNftTask' %>
  <%= form.hidden_field :collection_id %>
  <% (token_ids || []).each do |token_id| %>
    <%= form.hidden_field :token_ids, multiple: true, value: token_id %>
  <% end %>

  <div class="mt-8 flex justify-center items-center space-x-4">
    <%= form.submit 'Confirm', class: "bg-primary px-6 py-2 rounded text-white cursor-pointer opacity-90 hover:opacity-100" %>
  </div>
<% end %>
