<div class="mb-4 flex items-center space-x-4">
  <% case @type %>
  <% when 'listed' %>
    <%= render 'collections/items/bulk_task_form', type: :new_ask_order_task, collection_id: @collection.id, action: 'Sell All' %>
    <%= render 'collections/items/bulk_task_form', type: :new_auction_order_task, collection_id: @collection.id, action: 'Auction All' %>
    <%= render 'collections/items/bulk_task_form', type: :new_withdraw_nft_task, collection_id: @collection.id, action: 'Withdraw All' %>
  <% when 'airdrop' %>
    <%= render 'collections/items/bulk_task_form', type: :new_withdraw_nft_task, collection_id: @collection.id, action: 'Withdraw All' %>
  <% when 'wallet' %>
    <%= render 'collections/items/bulk_task_form', type: :new_deposit_nft_task, collection_id: @collection.id, action: 'Deposit All' %>
    <%= render 'collections/items/bulk_task_form', type: :new_transfer_nft_task, collection_id: @collection.id, action: 'Transfer All' %>
  <% when 'drafted' %>
    <%= button_to collection_bulk_destroy_items_path(@collection),
      form: {
        turbo_confirm: 'Are you sure to delete the selected NFTs?'
      },
      data: {
        checkbox_select_all_target: 'submitButton' 
      } do %>
      <div data-checkbox-select-all-target="valueInput" data-name="identifiers[]" class="hidden"></div>
      <div class="cursor-pointer rounded bg-red-500 hover:bg-red-600 text-white px-4 py-2 m-1">Delete All</div>
    <% end %>
  <% end %>
</div>
