<tr>
  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="flex justify-center">
      <label class="cursor-pointer">
        <input type="checkbox" data-checkbox-select-all-target="checkbox" value="<%= item.identifier %>" />
      </label>
    </div>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <%= image_tag item.icon_url, class: "w-12 h-12 block mx-auto" %>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <%= item.name %>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="">
      <%= item.collection.name %>
    </div>
    <div class="font-bold">
      #<%= item.identifier %>
    </div>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="flex items-center space-x-2">
      <div class="w-2 h-2 rounded-full
        <%= {
          drafted: 'bg-blue-500',
          minted: 'bg-green-500'
        }[item.state.to_sym] %>"></div>
      <div><%= item.state %></div>
    </div>
  </td>

  <td class="border border-slate-300 dark:border-slate-700 p-2 text-slate-500 dark:text-slate-400">
    <div class="flex items-center space-x-2">
      <%= link_to 'Trident', "https://thetrident.one/collectibles/#{item.metahash}", target: "_blank" if item.minted? %>

      <%= link_to 'Detail', collection_item_path(item.collection, item) %>

      <%= link_to 'Edit', edit_collection_item_path(item.collection, item) if item.drafted? %>

      <%= button_to 'Mint',
        view_modals_path(type: :new_mint_nft_task, collection_id: item.collection_id, identifiers: [item.identifier]),
        class: "" if item.drafted? %>

      <%= button_to 'Delete', collection_item_path(item.collection, item), 
        method: :delete, 
        class: "",
        form: { 
          data: { 
            turbo_confirm: 'Are you sure to delete this NFT?' 
          } 
        } if item.drafted? %>

      <% case @type %>
      <% when 'listed' %>
        <%= button_to 'Sell',
          view_modals_path(type: :new_ask_order_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
        <%= button_to 'Auction',
          view_modals_path(type: :new_auction_order_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
        <%= button_to 'Withdraw', 
          view_modals_path(type: :new_withdraw_nft_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
      <% when 'airdrop' %>
        <%= button_to 'Withdraw', 
          view_modals_path(type: :new_withdraw_nft_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
      <% when 'wallet' %>
        <%= button_to 'Deposit', 
          view_modals_path(type: :new_deposit_nft_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
        <%= button_to 'Transfer', 
          view_modals_path(type: :new_transfer_nft_task, collection_id: item.collection_id, identifiers: [item.identifier]),
          class: "" %>
      <% when 'on_sale' %>
        <%= link_to 'Orders',
        collection_orders_path(item.collection_id, metahash: item.metahash, type: :ask, state: :open),
        class: "" %>
      <% when 'on_auction' %>
        <%= link_to 'Orders',
        collection_orders_path(item.collection_id, metahash: item.metahash, type: :auction, state: :open),
        class: "" %>
      <% end %>
    </div>
  </td>
</tr>
